.occupied{
    color: #6272A4;
}

.empty{
    color: #44475A;
}

.current{
    color: #F8F8F2;
}

.statusbar{
    font-family: 'Inter','Roboto', san-serif;
    padding: 5px;
    border-radius: 5px;
    background-color: #282A36;
}
.workspace-w{
    border-radius: 5px;
}
.empty-space{
}
