/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #1E1F29FF;
    background-alt: #282A36FF;
    foreground:     #FFFFFFFF;
    foreground-alt:	#77777777;
    selected:       #BD93F9FF;
    selected-alt:		#393b47ff;
    active:         #50FA7BFF;
    urgent:         #FF5555FF;
}
